node_modules
.expo
.DS_Store
*.log
*.swp
*.swo
.vscode
.env
.env.local
#dist
build
.gradle
.idea
*.iml
*.xcodeproj
*.xcworkspace
*.haste_cache
*.bundle
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
